@{
    ViewData["Title"] = "Welcome";
}

<div class="welcome-wrapper">
    <div class="logo">
        <i class="fa-regular fa-heart"></i>
    </div>
    <div class="content">
        <h1>
            هیچ چیز شیرین تر از نوشیدن یک فنجان قهوه تلخ نیست
        </h1>
    </div>
    <div class="redirect-btn">
        <a class="btn" asp-action="Index" asp-controller="Menu">
            مشاهده منو
        </a>
    </div>
</div>
