html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Vazir', sans-serif;
  background-color: #6f4e37;
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

#container {
    padding-bottom: 2rem;
}

body .footer-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    height: 2rem;
    background-color: #f1e5d8;
    color: #6f4e37;
}

.footer-wrapper footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

footer h4 {
    margin: 0;
}

.nav-pills {
    overflow-x: auto;
    white-space: nowrap;
}

a {
    color: #f8f6f0;
}

a:hover,
a:focus,
a:active {
    color: #f8f6f0;
}

.scroll-section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: 28px;
    padding-bottom: 25px;
}

.scroll-section .nav-toggler {
    display: inline-block;
}

i.fa-heart {
    color: #f8f6f0;
    font-size: 1.5rem;
}

.collapse.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.collapsing {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.35s ease;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 20px;
    padding: 15px;
}

.welcome-wrapper .logo {
    text-align: center;
    padding: 20px;
}

.welcome-wrapper .logo i {
    font-size: 3rem;
}

.welcome-wrapper .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f8f6f0;
    height: 60vh;
    padding: 20px;
    gap: 10px;
}

.welcome-wrapper .content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.welcome-wrapper .redirect-btn {
    padding: 0.75rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-wrapper .redirect-btn a {
    background-color: #f1e5d8;
    color: #6f4e37;
    margin-left: 3px;
    margin-right: 3px;
    padding: 15px;
    font-size: 1.25rem;
}

.nav-toggler {
    background-color: #f1e5d8;
    color: #6f4e37;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1.1rem;
    padding: 0.75rem 1rem;
}

.nav-toggler i {
    font-size: 1.5rem;
}

.nav-toggler span {
    margin-top: 0.5rem;
    display: block;
}

.nav-toggler.active {
    background-color: #f1e5d8;
    color: #6f4e37;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-toggler:hover {
    background-color: #f1e5d8;
}

.col-7.col-md-9 {
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;
    width: 100%;
    background-color: #6f4e37;
    border: 1px solid #f8f6f0;
    color: #f8f6f0;
    position: relative;
    margin: 1%;
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.card .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 0;
}

.card .card-title {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: right;
    letter-spacing: normal;
}

.card .image-container img {
    height: 100%;
}

.row .col-8 {
    padding-right: 0;
    padding-left: 10px;
}

.card-header {
    background-color: #2e2e2e;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
}

#logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease, top 0.3s ease;
  z-index: 1000;
  max-width: 80%;
  height: auto;
}

#logo.up {
  top: 10px;
  transform: translate(-50%, 0);
}

#logo.down {
  top: 100px;
  transform: translate(-50%, 0);
}

.item-price {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc-container {
    font-size: 1.3rem;
    margin-inline-end: auto;
    text-align: right;
    padding-bottom: 0.5rem;

    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word; 

    left: 0;
    right: 0;
}

@media (max-width: 1200px) {
  .image-container img {
    margin-left: 15px;
    padding: 12px;
  }

  h6.card-title {
      gap: normal;
      margin-bottom: 50px;
  }

}

@media (max-width: 992px) {
  .image-container img {
    margin-left: 10px;
    padding: 10px;
  }

  h6.card-title {
      margin-bottom: 60px;
  }

  .item-price {
      padding-left: 22px;
  }

  .nav-pills .nav-togller {
      min-width: 20%;
  }
}

@media (max-width: 768px) {
  .card {
      height: 160px;
  }

  .card .image-container {
      height: 160px;
      padding-left: 10px;
  }

  h6.card-title {
      font-size: 0.8rem;
  }

  h6.desc-container {
      font-size: 0.8rem;
      margin-bottom: 0;
  }

  h6.desc-container.pb-2.px-0 {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

  .card .card-body {
    padding: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 0;
  }

  #logo {
    max-width: 60%;
  }

  .image-container img {
    margin-left: 5px;
    padding: 8px;
  }

  .nav-pills .nav-toggler {
      min-width: 30%;
  }
}

@media (max-width: 576px) {
  .card {
      height: 160px;
  }

  .card .card-body {
    padding: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 0;
  }

  h6.card-title {
      font-size: 0.8rem;
  }

  h6.desc-container {
      font-size: 0.8rem;
      margin-left: 0.1rem;
      margin-bottom: 0;
  }

  h6.desc-container.pb-2.px-0 {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  }

  .card .image-container {
      height: 160px;
      padding-left: 9px;
  }

  #logo {
    max-width: 40%; 
    top: 5px;
  }

  .image-container img {
    margin-left: 2px;
    padding: 0;
  }

  .nav-pills .nav-toggler {
      min-width: 35%;
  }
}
